/* -------------------------------------------- */
/* Variables */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* Reset global styles */
/* -------------------------------------------- */
/*
.media-list li.new {
  background-color: #e9f9ff;
}

#create-message-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
}

.conversation-entry-list {
  max-height:600px;
  overflow:auto;
}

.conversation-entry-list .media {
  padding-right:5px;
}

.mail-conversation-entry {
  margin-top: 0;
}

.mail-conversation-entry img {
  max-width:100%;
}

.placeholder {
  color: #77777A;
}

#dropdown-messages .dropdown-header {
  margin-bottom: 12px;
}

@media (max-width: 767px) {

  #dropdown-messages {
    width: 300px !important;
  }

  .arrow {
    margin-left: -101px !important;
  }
}

#createmessage-message .ProseMirror, #mail-conversation-root .ProseMirror, .mail-edit-message .ProseMirror {
  min-height: 100px !important;
}

#createmessage-message .ProseMirror-menubar, #mail-conversation-root .ProseMirror-menubar, .mail-edit-message .ProseMirror-menubar {
  margin-top: 0 !important;
}

#mail-conversation-root hr {
  border-top: 1px dashed #eee;
}
*/
/* -------------------------------------------- */
/* -------------------------------------------- */
/* mail styling */
/* -------------------------------------------- */
.mail {
  /* -------------------------------------------- */
  /* mail conversation chooser styling */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
  /* mail conversation styling */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
}
.mail .chooser .panel-heading {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  padding: 21px 22px;
}
.mail .chooser .panel-heading .btn {
  position: relative;
  padding: 4px 12px;
  border-radius: 50%;
}
.mail .chooser .panel-heading .btn:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  border-top: 8px solid #3cbeef;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  transform: rotate(22deg) skew(-14deg);
}
.mail .chooser .panel-heading .btn:hover:after,
.mail .chooser .panel-heading .btn:focus:after {
  border-top-color: #24b6ed;
}
.mail .chooser .media-list {
  /* -------------------------------------------- */
  /* message preview styling */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
}
.mail .chooser .media-list li {
  padding: 15px 22px;
  border-left: none;
  --li-bg-color: #fff;
}
.mail .chooser .media-list li:hover,
.mail .chooser .media-list li.selected {
  --li-bg-color: #e2f5fd;
  background-color: var(--li-bg-color);
  border-left: none;
}
.mail .chooser .media-list li .media {
  display: flex;
  align-items: center;
}
.mail .chooser .media-list li .media .media-heading {
  display: flex;
  align-items: center;
}
.mail .chooser .media-list li .media .media-heading .text {
  flex-grow: 1;
}
.mail .chooser .media-list li .media .media-left,
.mail .chooser .media-list li .media .media > .pull-left {
  margin-right: 28px;
}
.mail .chooser .media-list li .media .sep {
  font-weight: 600;
  font-size: 16px;
  margin: 0 12px;
  color: #b9b9b9;
}
.mail .chooser .media-list li .media h4,
.mail .chooser .media-list li .media p {
  margin: 0;
  font-size: 14px;
  line-height: 19px;
  color: #000;
}
.mail .chooser .media-list li .media h4 {
  font-weight: 600;
}
.mail .chooser .media-list li .media p {
  font-weight: 400;
}
.mail .messages .panel-heading {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  padding: 13.5px 22px;
  /* -------------------------------------------- */
  /* mail conversation header styling */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
}
.mail .messages .panel-heading .conversation-title {
  margin-left: 22px;
}
.mail .messages .panel-heading .conversation-actions a {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: #737373;
  padding: 0;
}
.mail .messages .panel-heading .conversation-actions a span {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin-right: 10px;
}
.mail .panel {
  box-shadow: none;
  border: 1px solid #e9e9e9;
  border-radius: 8px;
}
.mail .panel-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
}
.mail hr {
  margin: 0;
  border-top-color: #d4d4d4;
}
/* -------------------------------------------- */
/* -------------------------------------------- */
/* users-images widget styling */
/* -------------------------------------------- */
.header_users-images {
  display: inline-block;
}
.header_users-images .users-images {
  display: flex;
  flex-direction: row-reverse;
}
.header_users-images .users-images .btn {
  width: 41px;
  height: 41px;
}
.header_users-images .users-images span {
  display: inline-block;
}
.header_users-images .users-images span img,
.header_users-images .users-images .btn {
  border: 2px solid #fff;
  border-radius: 50%;
}
.header_users-images .users-images > *:not(:first-child) {
  margin-right: -10px;
}
.panel_users-images {
  --img-num-1-width: 67px;
  --img-num-2-width: 46px;
  --img-num-3-width: 42px;
  --img-num-4-width: 40px;
  position: relative;
}
.panel_users-images .users-images {
  display: inline-grid;
  grid-template-columns: 34px 34px;
  grid-template-rows: 34px 34px;
}
.panel_users-images .users-images.img-num-1 .btn {
  width: var(--img-num-1-width);
  height: var(--img-num-1-width);
}
.panel_users-images .users-images.img-num-2 .btn {
  width: var(--img-num-2-width);
  height: var(--img-num-2-width);
}
.panel_users-images .users-images.img-num-2 > *:first-child {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: end;
}
.panel_users-images .users-images.img-num-2 > *:last-child {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  align-self: end;
}
.panel_users-images .users-images.img-num-3 .btn {
  width: var(--img-num-3-width);
  height: var(--img-num-3-width);
}
.panel_users-images .users-images.img-num-3 > *:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.panel_users-images .users-images.img-num-3 > *:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: end;
}
.panel_users-images .users-images.img-num-3 > *:nth-child(3) {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  align-self: end;
  justify-self: center;
}
.panel_users-images .users-images.img-num-4-or-more .btn {
  width: var(--img-num-4-width);
  height: var(--img-num-4-width);
}
.panel_users-images .users-images.img-num-4-or-more > *:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.panel_users-images .users-images.img-num-4-or-more > *:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: end;
}
.panel_users-images .users-images.img-num-4-or-more > *:nth-child(3) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  align-self: end;
  justify-self: center;
}
.panel_users-images .users-images.img-num-4-or-more > *:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  align-self: end;
  justify-self: end;
}
.panel_users-images .users-images span {
  display: inline-block;
}
.panel_users-images .users-images:not(.img-num-1) span img {
  border: 2px solid var(--li-bg-color);
  border-radius: 50%;
}
.panel_users-images .users-images .btn {
  border-radius: 50%;
  border: 2px solid var(--li-bg-color);
}
.panel_users-images .label {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 14px;
  height: 14px;
  padding: 0;
  border: 1px solid var(--li-bg-color);
  border-radius: 50%;
}
.panel_users-images .label:empty {
  display: inline-block;
}
/* -------------------------------------------- */
/* -------------------------------------------- */
/* Miscellaneous styling */
/* -------------------------------------------- */
/* -------------------------------------------- */
/*# sourceMappingURL=humhub.mail.css.map */