/* -------------------------------------------- */
/* Variables */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* Reset global styles */
/* -------------------------------------------- */
/*
.media-list li.new {
  background-color: #e9f9ff;
}

#create-message-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
}

.conversation-entry-list {
  max-height:600px;
  overflow:auto;
}

.conversation-entry-list .media {
  padding-right:5px;
}

.mail-conversation-entry {
  margin-top: 0;
}

.mail-conversation-entry img {
  max-width:100%;
}

.placeholder {
  color: #77777A;
}

#dropdown-messages .dropdown-header {
  margin-bottom: 12px;
}

@media (max-width: 767px) {

  #dropdown-messages {
    width: 300px !important;
  }

  .arrow {
    margin-left: -101px !important;
  }
}

#createmessage-message .ProseMirror, #mail-conversation-root .ProseMirror, .mail-edit-message .ProseMirror {
  min-height: 100px !important;
}

#createmessage-message .ProseMirror-menubar, #mail-conversation-root .ProseMirror-menubar, .mail-edit-message .ProseMirror-menubar {
  margin-top: 0 !important;
}

#mail-conversation-root hr {
  border-top: 1px dashed #eee;
}
*/
/* -------------------------------------------- */
/* -------------------------------------------- */
/* mail styling */
/* -------------------------------------------- */
.mail {
  /* -------------------------------------------- */
  /* mail conversation chooser styling */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
  /* mail conversation styling */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
}
.mail .chooser .panel-heading {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  padding: 21px 22px;
}
.mail .chooser .panel-heading .btn {
  position: relative;
  padding: 4px 12px;
  border-radius: 50%;
}
.mail .chooser .panel-heading .btn:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  border-top: 8px solid #3cbeef;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  transform: rotate(22deg) skew(-14deg);
}
.mail .chooser .panel-heading .btn:hover:after,
.mail .chooser .panel-heading .btn:focus:after {
  border-top-color: #24b6ed;
}
.mail .messages .panel-heading {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  padding: 13.5px 22px;
  /* -------------------------------------------- */
  /* mail conversation header styling */
  /* -------------------------------------------- */
  /* -------------------------------------------- */
}
.mail .messages .panel-heading .conversation-title {
  margin-left: 22px;
}
.mail .messages .panel-heading .conversation-actions a {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: #737373;
  padding: 0;
}
.mail .messages .panel-heading .conversation-actions a span {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin-right: 10px;
}
.mail .panel {
  box-shadow: none;
  border: 1px solid #e9e9e9;
  border-radius: 8px;
}
.mail .panel-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
}
.mail hr {
  border-top-color: #d4d4d4;
}
/* -------------------------------------------- */
/* -------------------------------------------- */
/* Miscellaneous styling */
/* -------------------------------------------- */
.header_users-images {
  display: inline-flex;
  flex-direction: row-reverse;
}
.header_users-images .btn {
  width: 41px;
  height: 41px;
}
.header_users-images span {
  display: inline-block;
}
.header_users-images span img,
.header_users-images .btn {
  border: 2px solid #fff;
  border-radius: 50%;
}
.header_users-images > *:not(:first-child) {
  margin-right: -10px;
}
/* -------------------------------------------- */
/*# sourceMappingURL=humhub.mail.css.map */