
/* -------------------------------------------- */
/* Miscellaneous styling */
/* -------------------------------------------- */

.header_users-images {
  display: inline-flex;
  flex-direction: row-reverse;

  .btn {
    width: 41px;
    height: 41px;
  }

  span {
    display: inline-block;
  }
  span img,
  .btn {
    border: 2px solid #fff;
    border-radius: 50%;
  }

  & > *:not(:first-child) {
    margin-right: -10px;
  }

}







.panel_users-images {

}

/* -------------------------------------------- */
